[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

attrs = "*"
colored-traceback = "*"
colorama = "*"
github3-py = "== 0.9.3"
"path.py" = "*"
python-cli-ui = "*"
pyparsing = "*"
requests = "*"
"ruamel.yaml" = "*"
schema = "*"
tabulate = "*"
unidecode = "*"
xdg = "*"


[dev-packages]
apipkg = "*"
astroid = "*"
backports-abc = "*"
coverage = "*"
execnet = "*"
mccabe = "*"
mkdocs = "*"
mock = "*"
py = "*"
pycodestyle = "*"
pyflakes = "*"
pylint = ">= 1.8"
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"
pytest-xdist = "*"
requests = "*"
