name: doc
on:
  push:
    branches:
      - master

jobs:
  deploy_documentation:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - name: Prepare project for development
      run: |
        python -m pip install poetry
        python -m poetry install

    - name: Build documentation
      run: |
         poetry run mkdocs build

    - name: Deploy to GitHub pages
      uses: maxheld83/ghpages@v0.1.1
      env:
        BUILD_DIR: site
        GH_PAT: ${{ secrets.GH_PAT }}
