name: linters

on:
  push:
    branches: [main]
    tags: v*
  pull_request:

jobs:
  run_linters:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v1

    - name: Set up Python
      uses: actions/setup-python@v2.2.2
      with:
        python-version: "3.10"

    - uses: extractions/setup-just@v1

    - name: Install poetry
      run: |
        python -m pip install poetry

    - name: Prepare project for development
      run: |
        just setup

    - name: Run linters
      run: |
        just lint

    - name: Check that doc builds without warnings
      run: |
        just build-doc
